{% extends 'Blood_Bank/base.html' %}
{% load static %}
    {% block css %}
    .top{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .midimage
    {
      background-image: url('{% static "images/this.png" %}');
      background-repeat:no-repeat;
      background-size:cover;
      background-position:center;
      padding: 30vh;
    }
    
    .foot{
      background-color: red;
      padding: 20px;
    }
    .midtext{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 30px;
      margin:8vh;
    
    }
    
    {% endblock css %}
    <div class="wrapper" style="margin-top: -16px;">
    {% block content %}

        <div class="midimage">
        </div>
  
        <div class="midtext">
          <strong>{{quote}}</strong>
        </div>
    {% endblock content %}
    </div>

