{% extends 'Admin/admin_dash_base.html' %}
{% block content %}
<div class="container">
    <br>
    <hr>
    <h3 style = "text-align:center;"><b>Admin-Dashboard</b></h3>
    <hr>
    <div class="row" style="margin-top: 28px;">
        <div class="col-sm-3">
          <div class="card" style="background-color: #e4e4e4;">
            <div class="card-body">
                <div class="blood">
                    <h2>A+ <i class="fas fa-tint" style="color: red;"></i></h2>
                </div><br><br>
                <div>
                   <b> {{A1}}</b>
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                
                <div class="card-body" style="background-color: #e4e4e4;">
                    <div class="blood">
                        <h2>B+ <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                     <b> {{B1}}</b>
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card " style="background-color: #e4e4e4;">
                <div class="card-body">
                    <div class="blood">
                        <h2>O+ <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                     <b> {{O1}}</b>
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card " style="background-color: #e4e4e4;">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB+ <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                      <b>{{AB1}}</b>
                    </div>                            
                </div>
              </div>
          </div>
      </div>
  
      <div class="row">
        <div class="col-sm-3">
          <div class="card " style="background-color: #e4e4e4;">
            <div class="card-body">
                <div class="blood">
                    <h2>A- <i class="fas fa-tint" style="color: red;"></i></h2>
                </div><br><br>
                <div>
                 <b> {{A2}}</b>
                </div>                            
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card " style="background-color: #e4e4e4;">
                <div class="card-body">
                    <div class="blood">
                        <h2>B- <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                      <b>{{B2}}</b>
                    </div>                            
                </div>
              </div>
        </div>
        <div class="col-sm-3">
            <div class="card " style="background-color: #e4e4e4;">
                <div class="card-body">
                    <div class="blood">
                        <h2>O- <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                     <b> {{O2}}</b>
                    </div>                            
                </div>
              </div>
          </div>
          <div class="col-sm-3">
            <div class="card " style="background-color: #e4e4e4;">
                <div class="card-body">
                    <div class="blood">
                        <h2>AB- <i class="fas fa-tint" style="color: red;"></i></h2>
                    </div><br><br>
                    <div>
                      <b>{{AB2}}</b>
                    </div>                            
                </div>
              </div>
          </div>
      </div>
<hr>
<br>
<h4 style="text-align:center;"><b>Donation Requests</b></h4>
<div class="row">
    <div class="col-sm-3">
      <div class="card bg-danger">
        <div class="card-body">
            <div class="blood">
                <i class="fas fa-users"></i>
            </div><br>
            <div>
                <strong>Total Requests</strong> <br>
                <b><strong>{{dr_total}}</strong></b>
            </div>                            
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="fas fa-spinner"></i>
                </div><br>
                <div>
                    <strong>Pending Requests</strong> <br>
                   <b><strong>{{dr_pending}}</strong></b>
                </div>                            
            </div>
          </div>
    </div>
    <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="far fa-check-circle"></i>
                </div><br>
                <div>
                    <strong>Approved Requests</strong> <br>
                    <b><strong>{{dr_approved}}</strong></b>
                </div>                            
            </div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="fas fa-tint xyz"></i>
                </div><br>
                <div>
                    <strong>Rejected Requests</strong> <br>
                    <b><strong>{{dr_rejected}}</strong></b>
                </div>                            
            </div>
          </div>
      </div>
  </div>
  <hr>
  <h4 style="text-align:center;"><b>Blood Requests</b></h4>
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-danger">
        <div class="card-body">
            <div class="blood">
                <i class="fas fa-users"></i>
            </div><br>
            <div>
                <strong>Total Requests</strong> <br>
                <b><strong>{{br_total}}</strong></b>
            </div>                            
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="fas fa-spinner"></i>
                </div><br>
                <div>
                    <strong>Pending Requests</strong> <br>
                   <b><strong>{{br_pending}}</strong></b>
                </div>                            
            </div>
          </div>
    </div>
    <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="far fa-check-circle"></i>
                </div><br>
                <div>
                    <strong>Approved Requests</strong> <br>
                    <b><strong>{{br_approved}}</strong></b>
                </div>                            
            </div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="blood">
                    <i class="fas fa-tint xyz"></i>
                </div><br>
                <div>
                    <strong>Rejected Requests</strong> <br>
                    <b><strong>{{br_rejected}}</strong></b>
                </div>                            
            </div>
          </div>
      </div>
  </div>
    </div>
</div>


{% endblock content %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->