{% extends 'Admin/admin_dash_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
  window.onload()
{% endblock title %}
{% block content %}
<div class="container">
      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle"><b>Edit Campaign</b></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="mx-1 mx-md-4" method="post" action="/admin/edit-campaign/{{id}}/" enctype="multipart/form-data">
                    {% csrf_token %}
                      {{campaignform|crispy}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Edit Campaign</button>
            </div>
            
        </form>
          </div>
        </div>
      </div>
      <br>
      <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalLong" id="Editbtn">
        Edit Campaign
      </button>
      <hr><hr>
      <div class="row d-flex justify-content-center align-items-center h-100">
          {% for campaign in campaigns %}
          <div class="card text-white bg-dark mb-3 mx-3" style="width: 18rem;">
            <img class="card-img-top" src="{% static 'images/back6.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title" id="ename">{{campaign.event_name}}</h5>
              <hr>
                <p>Date : <strong id="edate">{{campaign.date}}</strong></p>
              <hr>
              <p>Time : <strong id="etime">{{campaign.time}}</strong></p>
              <hr>
              <p>Location : <strong id="elocation">{{campaign.location}}</strong></p>
              <hr>
              <p>Contact : <strong id="econtact">{{campaign.contact}}</strong></p>
              <hr>
                <a href="{% url 'edit_campaign' campaign.id %}" class="btn btn-info" style="text-decoration:None; color:white;">Edit</a>
              <!-- <a href=" {% url 'delete_campaign' campaign.id %} " class="btn btn-danger" id="deletebtn">Delete</a> -->
              
            </div>
          </div>
          {% endfor %}
      </div>    
</div>
<script>
    //{% comment %} let btn = document.getElementById("Editbtn");
    //
    //btn.addEventListener("click",()=>{
    //    let ename = document.getElementById("ename").innerHTML;
    //    let edate = document.getElementById("edate").innerHTML;
    //    let etime = document.getElementById("etime").innerHTML;
    //    let elocation = document.getElementById("elocation").innerHTML;
    //    let econtact = document.getElementById("econtact").innerHTML;
//
    //    let deletebtn = document.getElementById("deletebtn");
    //    deletebtn.addEventListener('click',()=>{
    //        window.alert("Campaign deleted successfully!");
    //    })
//
    //    //window.alert(ename)
    //    //window.alert(edate)
    //    //window.alert(etime)
    //    //window.alert(elocation)
    //    //window.alert(econtact)
    //    let name = document.getElementById("id_event_name")
    //    let date = document.getElementById("id_date")
    //    let time = document.getElementById("id_time")
    //    let location = document.getElementById("id_location")
    //    let contact = document.getElementById("id_contact")
//
//
    //    name.value = ename;
    //    date.value = edate;
    //    time.value = etime;
    //    location.value = elocation;
    //    contact.value = econtact;
    //    
    //}) {% endcomment %}
    //window.alert("Here");
    //let body = document.getElementsByTagName("body");
    //body.addEventListener('load',()=>{
    //    window.alert("Page Loaded");
    //    let btn = document.getElementsById("Editbtn");
    //    btn.click();
    //}

    window.onload = function(){
      let btn = document.querySelector("#Editbtn");
      btn.click();
    }

</script>
{% endblock content %}