{% extends 'Admin/admin_dash_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5 align - center " >
    <div class="row" >
        <div class="col-md-3 border-right " style="background-color:#25AD9B;" >
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{user.profile.profile_pic.url}}"><b>{{user.first_name|add:" "|add:user.last_name}} </b></span><span class="text-danger"><b>{{user.email}}</b></span><span> </span></div>
        </div>
        <div class="col-md-5 border-right" >
            <form action="/admin/update-client/{{user.id}}/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        <b> User Profile Settings</b>
                        <hr>
                    </legend>

                    {{u_form|crispy}}
                    {{p_form.mobile | as_crispy_field }}
                    {{p_form.address | as_crispy_field}}
                </fieldset>
                <input type="hidden" name="userid" value={{user.id}}>
                <div class="mt-5 text-center"><button class="btn btn-success profile-button" type="submit">Save Changes</button></div>
            
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span><h3><b>Addition Info</b></h3></span></div>
                {{p_form.gender | as_crispy_field}}
                {{p_form.profile_pic | as_crispy_field}}
                {{p_form.bloodgroup | as_crispy_field}}
                {{p_form.age | as_crispy_field}}
                </div> 
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock content %}