{% extends 'Admin/admin_dash_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}window.onload(){% endblock title %}
{% block content %}
<br><br>
<div class="mx-auto" style="width: 80vw;">
    <H4 class="text-center" ><strong>Client Blood Requests</strong></H4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Unit</th>
                <th scope="col">Request Date</th>
                {% comment %} <th scope="col">Response Time</th> {% endcomment %}
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for t in bloodrequests %}
            <tr>
                {% if t.status != 'Pending' %}
                <td> {{t.patient_name}}</td>
                <td>{{t.patient_age}}</td>
                <td>{{t.patient_bloodgroup}}</td>
                <td>{{t.unit}}</td>
                <td>{{t.request_date}}</td>
                {% if t.status == 'Approved' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-success">Approved</span></td>
                <td>
                    <span style="color:green;"><b>Your Request is Approved!</b></span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Send Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% elif t.status == 'Given' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-success">Given</span></td>
                <td>
                    <span style="color:green;"><b>{{t.unit}} ML of {{t.patient_bloodgroup}} Blood is Deducted from stock!</b></span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Send Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% elif t.status == 'Rejected' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-danger">Rejected</span></td>
                <td>
                    <span style="color:red;"><b>Your Request is Rejected!</b></span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Send Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_br' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% endif %} 
                {% comment %} <td><span style="color: black;margin-left: 0px; font-weight:bolder;" class="label dark">{{status}}</span></td> {% endcomment %}
                {% endif %}
            </tr>
            {% endfor %} 

        </tbody>
    
    </table>
    <br><br>
    <H4 class="text-center" ><strong>Client Donation Requests</strong></H4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Donor Name</th>
                <th scope="col">Donor Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Registered Date</th>
                <th scope="col">Campaign ID</th>
                {% comment %} <th scope="col">Response Time</th> {% endcomment %}
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                <th scope="col">Actions</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for t in donationrequests %}
            <tr>
                {% if t.status != 'Pending' %}
                <td> {{t.name}}</td>
                <td>{{t.age}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.request_date}}</td>
                <td>{{t.campaignid}}</td>
                {% if t.status == 'Approved' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-success">Approved</span></td>
                <td>
                    <span style="color:green;"><small><b>Request is Approved!</b></small></span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% elif t.status == 'Rejected' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-danger">Rejected</span></td>
                <td>
                    <span style="color:red;"><small><b>Request is Rejected!</b></small></span>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% elif t.status == 'Donated' %}
                {% comment %} <td><span class="label label-success">{{t.response_date}}</span></td> {% endcomment %}
                <td><span class="bg-success">Donated</span>
                    <a class="btn btn-success btn-sm" style="text-decoration:none" href="{% url 'view_certificate' t.id %}">certificate</a></td>
                <td>
                    <span style="color:green;"><small><b>{{t.unit}} Blood is Added to Stock!</b></small></span>
                </td> 
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'sendmail_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Mail</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_dr' t.id %}" class="btn btn-danger" style="text-decoration:none;">Delete</a>
                </td>
                {% endif %} 
                {% comment %} <td><span style="color: black;margin-left: 0px; font-weight:bolder;" class="label dark">{{status}}</span></td> {% endcomment %}
                {% endif %}
            </tr>
            {% endfor %} 

        </tbody>
    
    </table>

{% endblock content %}