{% extends 'Admin/admin_dash_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}window.onload(){% endblock title %}
{% block content %}
<br><br>
<div class="mx-auto" style="width: 80vw;">
    <H4 class="text-center" ><strong>Client Donation Requests</strong></H4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Donor Name</th>
                <th scope="col">Donor Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Disease</th>
                <th scope="col">Register Date</th>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for t in donationrequests %}
            <tr>
                {% if t.status == 'Pending' %}
                <td> {{t.name}}</td>
                <td>{{t.age}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.disease}}</td>
                <td>{{t.email}}</td>
                <td>{{t.request_date}}</td>
                {% comment %} <td><span class="label warning">Approved</span></td>
                <td>
                    <span class="label success">Your Request is Approved!</span>
                </td>
                {% elif t.status == 'Rejected' %}
                <td><span class="label success">Rejected</span></td>
                <td>
                    <span class="label success">Your Request is Rejected!</span>
                </td>
                {% else %} {% endcomment %}
                <td><span style="color: black;margin-left: 0px; font-weight:bolder;" class="label dark">Pending</span></td>
                <td>
                    <button class="btn btn-success" id="btnreject"  data-toggle="modal" data-target="#{{t.id}}example1">Approve</button>
                    {% comment %} <button class="btn btn-success" id="btnapprove"  data-toggle="modal" data-target="#exampleModal1"><a href="{% url 'approve_blood_request' t.id %}" style="text-decoration:none; color:white;">Approve</a></button> {% endcomment %}
                    &nbsp 
                    <button class="btn btn-danger" id="btnreject"  data-toggle="modal" data-target="#{{t.id}}example2">Reject</button>
                    {% comment %} <button class="btn btn-danger" id="btnreject"  data-toggle="modal" data-target="#exampleModal2"><a href="{% url 'reject_blood_request' t.id %}" style="text-decoration:none; color:white;">Reject</a></button> {% endcomment %}
                        <!-- Modal -->
                    <div class="modal fade" id="{{t.id}}example1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                            <h5 class="modal-title" id="exampleModalLabel"><b>Approve Blood Request</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body bg-danger">
                                
                                <h5><b>Disease: <strong>"{{t.disease}}"</strong></b></h5>
                                <hr>
 
                            </div>
                            <div class="modal-footer bg-info">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success" id="btnapprove"  data-toggle="modal" data-target="#exampleModal1"><a href="{% url 'approve_donation_request' t.id %}" style="text-decoration:none; color:white;">Approve</a></button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="{{t.id}}example2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Reject Message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>

                            <div class="modal-body">
                                <form action="{% url 'reject_donation_request' t.id %}" method="POST">
                                    {% csrf_token %}
                                    Enter the rejection message: <input type="text" name="RejectionMessage">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            {% comment %} <button class="btn btn-danger" id="btnreject"  data-toggle="modal" data-target="#exampleModal2" type="submit">Reject</button> {% endcomment %}
                            
                                <button class="btn btn-danger" id="btnreject"  data-toggle="modal" data-target="#exampleModal2" type="submit">Reject</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </td>
                {% endif %} 
                {% comment %} <td><span style="color: black;margin-left: 0px; font-weight:bolder;" class="label dark">{{status}}</span></td> {% endcomment %}
                <script>
                    btnapprove = document.getElementById('btnapprove');
                    btnreject = document.getElementById('btnreject');
                </script>
                

            </tr>
            {% endfor %} 

        </tbody>
    
    </table>

{% endblock content %}