{% extends 'User/client_dash_base.html' %}
{% block content %}
<div class="container">
    <br>
    <h3 style = "text-align:center;"><b>Client-Dashboard</b></h3>
    <hr>

    <br>
    <h5 style = "text-align:center;"><b>Blood Requests</b></h5>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-danger">
          <div class="card-body">
              <div class="blood">
                  <i class="fas fa-users"></i>
              </div><br>
              <div>
                  <strong>Total Requests</strong> <br>
                  <b><strong>{{br_total}}</strong></b>
              </div>                            
          </div>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-danger">
              <div class="card-body">
                  <div class="blood">
                      <i class="fas fa-spinner"></i>
                  </div><br>
                  <div>
                      <strong>Pending Requests</strong> <br>
                     <b><strong>{{br_pending}}</strong></b>
                  </div>                            
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-danger">
              <div class="card-body">
                  <div class="blood">
                      <i class="far fa-check-circle"></i>
                  </div><br>
                  <div>
                      <strong>Approved Requests</strong> <br>
                      <b><strong>{{br_approved}}</strong></b>
                  </div>                            
              </div>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="card bg-danger">
              <div class="card-body">
                  <div class="blood">
                    <i class="fa-solid fa-xmark-circle"></i>
                  </div><br>
                  <div>
                      <strong>Rejected Requests</strong> <br>
                      <b><strong>{{br_rejected}}</strong></b>
                  </div>                            
              </div>
            </div>
        </div>
    </div>


<br>
<h5 style = "text-align:center;"><b>Donation Requests</b></h5>
<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="card bg-danger">
      <div class="card-body">
          <div class="blood">
              <i class="fas fa-users"></i>
          </div><br>
          <div>
              <strong>Total Requests</strong> <br>
              <b><strong>{{dr_total}}</strong></b>
          </div>                            
      </div>
    </div>
  </div>
  <div class="col-sm-3">
      <div class="card bg-danger">
          <div class="card-body">
              <div class="blood">
                  <i class="fas fa-spinner"></i>
              </div><br>
              <div>
                  <strong>Pending Requests</strong> <br>
                 <b><strong>{{dr_pending}}</strong></b>
              </div>                            
          </div>
        </div>
  </div>
  <div class="col-sm-3">
      <div class="card bg-danger">
          <div class="card-body">
              <div class="blood">
                  <i class="far fa-check-circle"></i>
              </div><br>
              <div>
                  <strong>Approved Requests</strong> <br>
                  <b><strong>{{dr_approved}}</strong></b>
              </div>                            
          </div>
        </div>
    </div>
    <div class="col-sm-3">
      <div class="card bg-danger">
          <div class="card-body">
              <div class="blood">
                  <i class="fas fa-tint xyz"></i>
              </div><br>
              <div>
                  <strong>Rejected Requests</strong> <br>
                  <b><strong>{{dr_rejected}}</strong></b>
              </div>                            
          </div>
        </div>
    </div>
</div>
</div>
</div>


{% endblock content %}
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->