{% extends 'User/client_dash_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<br><br>
<div class="mx-auto" style="width: 80vw;">
    <H4 class="text-center" ><strong>My Blood Request Story</strong></H4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Unit</th>
                <th scope="col">Request Date</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                
            </tr>
        </thead>
        <tbody>
            {% for t in bloodrequest %}
            <tr>
                <td> {{t.patient_name}}</td>
                <td>{{t.patient_age}}</td>
                <td>{{t.patient_bloodgroup}}</td>
                <td>{{t.unit}} ML</td>
                <td>{{t.request_date}}</td>
                {% if t.status == 'Approved' %}
                    <td><span class="bg-success"> Approved</span><br>
                        <a class="btn btn-success btn-sm" style="text-decoration:none" href="{% url 'view_approval' t.id %}">Approval</a>
                    </td>
                    <td><span style="color: green;"><strong>Your request has been approved!</strong></span></td>
                {% elif t.status == 'Given' %}
                    <td><span class="bg-success">Received</span></td>  
                    <td><span style="color: green;"><strong>You have recieved the blood!</strong></span></td>              
                {% elif t.status == 'Rejected' %}
                    <td>
                        <span class="bg-danger">Rejected</span>
                                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#{{t.id}}example2">Reason</button>
                        <!-- Modal -->
                        <div class="modal fade" id="{{t.id}}example2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                <h5 class="modal-title" id="exampleModalLabel">Rejection Message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <h3><strong>{{ t.response_message }}</strong></h3>
                                </div>
                                <div class="modal-footer bg-info">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </td>

                    <td><span style="color:red;"><strong>Your Request has been rejected</strong></span></td>
                {% else %}
                    <td><span style="color: black;margin-left: 0px;" class="bg-info">Pending</span></td>
                    <td><span class="bg-info"><strong>Your request is in pending!</strong></span></td>
                {% endif %} 
                

            </tr>
            {% endfor %} 

        </tbody>
    
    </table>
</div>
<br><br>

<div class="mx-auto" style="width: 80vw;">
    <H4 class="text-center" ><strong>My Donation Request History</strong></H4>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-danger">
            <tr>
                <th scope="col">Donor Name</th>
                <th scope="col">Conatact</th>
                <th scope="col">Donor Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Campaign ID</th>
                <th scope="col">Request Date</th>
                <th scope="col">Response Date</th>
                <th scope="col">Status</th>
                <th scope="col">Remarks</th>
                
            </tr>
        </thead>
        <tbody>
            {% for t in donationrequest %}
            <tr>
                <td> {{t.name}}</td>
                <td>{{t.email}}</td>
                <td>{{t.age}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.campaignid}}</td>
                <td>{{t.request_date}}</td>
                <td>{{t.response_date}}</td>
                {% if t.status == 'Approved' %}
                <td><span class="bg-success"> Approved</span></td>
                <td><span class="bg-success">Donation Request is approved!</span></td>

                {% elif t.status == 'Donated' %}
                <td><span class="bg-success">Donated</span>
                    <a class="btn btn-success btn-sm" style="text-decoration:none" href="{% url 'view_certificate' t.id %}">certificate</a></td> 
                    <td><span class="bg-success">You have donated {{t.unit}} unit Blood!</span></td>
                {% elif t.status == 'Rejected' %}
                <td><span class="bg-danger">Rejected</span> &nbsp 
                    <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#{{t.id}}example1">Reason</button>
                </td>
                <td><span class="bg-danger">Donation Request is Rejected!</span></td>
                <!-- Modal -->
                    <div class="modal fade" id="{{t.id}}example1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-danger">
                            <h5 class="modal-title" id="exampleModalLabel">Rejection Message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <h3><strong>{{ t.response_message }}</strong></h3>
                            </div>
                            <div class="modal-footer bg-info">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <td><span style="color: black;margin-left: 0px;" class="bg-info">Pending</span></td>
                <td><span style="color: black;margin-left: 0px;" class="bg-info">Your Request is under Review</span></td>
                {% endif %} 
                

            </tr>
            {% endfor %} 

        </tbody>
    
    </table>
</div>
                    
{% endblock content %}